/* shravan Choudhary 8941438 and Yagnesh Mehta 8884884 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.imgSlider {
  width: 70vw;
  height: 70vh;
  background-color: rgb(68, 66, 66);
  margin: auto;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.image {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: 0.9s ease-in-out;
}
button {
  position: absolute;
  z-index: 10;
  font-size: 20px;
}
#right {
  margin-left: 95%;
  height: 100%;
  width: 5%;
  opacity: 1;
}
#left {
  height: 100%;
  width: 5%;
  opacity: 1;
}

ul,
li {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
}

#nav-section-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 1px 8px #ddd;
}
#nav-title {
  width: 200px;
}
.menu-items li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.menu-items li a {
  text-decoration: none;
  font-weight: bold;
  color: #1f1f1f;
  font-size: 16px;
}
.menu-items li a:hover {
  color: #dc0506;
}
#nav-section-2 {
  background-color: #f03637;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-section-2 > div {
  margin: 0 20px;
}

.searchSection {
  display: flex;
  background-color: white;
  width: 975px;
  height: 45px;
  align-items: center;
  padding: 0 15px;
  justify-content: flex-start;
}
#search {
  border: none;
  background: transparent;
  font-size: 14px;
  padding: 0 15px;
}
#search:focus {
  outline: none;
}
#searchBtn {
  background-color: #f03637;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  float: right;
  border: 1px solid #dc0506;
  margin-left: 44vw;
}

.categories {
  padding: 20px 30px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  word-spacing: 5px;
  letter-spacing: 1.5px;
}

main {
  background-color: #f1f1f1;
}

main img {
  width: 300px;
}

/* .side-bar-1,
.side-bar-2,
.details {
  background-color: white;
} */

/* .details {
  width: 975px;
} */
.categories {
  background-color: #dc0506;
}
/* .container {
  display: grid;
  width: 75%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 3fr) auto;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  margin: 0 auto;
} */

/* .item {
  margin: 20px 20px;
}
.side-bar-1 {
  grid-area: 1 / 1 / 3 / 2;
}
.side-bar-2 {
  grid-area: 3 / 1 / 5 / 2;
}

.details {
  grid-area: 1 / 2 / 6 / 6;
}
.inner_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.productDetails {
  margin: 20px;
}
.productDetails > p {
  font-size: 15px;
}

#product_img {
  flex: 1 1 calc(25% - 10px);
  width: auto;
  background-color: #f1f1f1;
}
#product_img img {
  width: 100%;
}
#productTitle {
  font-size: 22px;
  padding: 0 5px;
}
.prices {
  background-color: #f1f1f1;
  padding: 10px 20px;
  margin: 10px 0;
}

#productPrice {
  font-size: 22px;
  font-weight: bold;
  padding-right: 0.5em;
}
#productPriceBefore {
  font-size: 15px;
  text-decoration: line-through;
}
#productDescription {
  font-size: 15px;
  text-align: left;
  color: #777777;
} */

/* .addToCartSection {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  /* border-bottom: 1px solid #777777;
} */

/* .addToCartSection > div {
  display: flex;
} */
/* .quantityBtn {
  width: 40px;
  height: 40px;
  font-size: 150%;
  align-items: center;
  border: 1px solid #777777;
  background-color: white;
} */
/* #itemQuantity {
  padding: 10px;
  text-align: center;
  align-self: center;
} */

/* #addToCart {
  background-color: #1f1f1f;
  border: 1px solid #777777;
  color: white;
  padding: 0 20px;
} */

.care {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 75%;
  margin: 20px auto;
  padding: 20px 50px;
}

.care div {
  display: flex;
}

.care > div {
  padding: 10px 15px;
}
.care > div h3 {
  font-size: 18px;
}
.care > div p {
  font-size: 14px;
  padding: 5px 0px;
}
.care div i {
  color: #dc0506;
  font-size: 200%;
  align-self: center;
}

.care_details {
  flex-direction: column;
  padding: 0 10px;
}
/* .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid rgb(197, 197, 197);
  background: rgb(211, 9, 9);
  font-weight: normal;
  color: rgb(69, 69, 69);
} */

.Home-products img {
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
}

.Home-card {
  box-shadow: 0px 0px 5px 0px rgb(209, 111, 111);
  background-color: white;
  height: 410px;
}

main h2 {
  text-align: center;
  margin: 20px 10px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Home-products,
.discounts,
.Home-details,
.Home-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px 10px;
}
.Home-card,
.Home-details-card,
.category-card {
  border: 1px solid #ddd;
  padding: 10px;
  height: 410px;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgb(209, 111, 111);
  background-color: white;
}

/* .Home-card
.discount-card img,
.product-details-card img,
.category-card img {
  max-width: 100%;
  height: auto;
} */
/* .discount-card a,
.product-details-card .add-to-cart,
.category-card a {
  text-decoration: none;
  color: #1f1f1f;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border: 1px solid #ddd;
  display: inline-block;
  margin-top: 10px;
} */
/* ... (previous CSS content) ... */
/* .featured-products,
.discounts,
.product-details,
.product-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} */

/* .discount-card,
.product-details-card,
.category-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
} */
/* .Home-card
.discount-card img,
.product-details-card img,
.category-card img {
  max-width: 100%;
  height: auto;
} */
/* .discount-card a,
.product-details-card .add-to-cart,
.category-card a {
  text-decoration: none;
  color: #1f1f1f;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border: 1px solid #ddd;
  display: inline-block;
  margin-top: 10px;
} */

/* ... (remaining CSS content) ... */
.add-to-cart {
  /* display: inline-block; */
  /* margin: 0 auto; */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #f03637;
  border-radius: 5px;
  color: #fff;
  background-color: #f03637;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.add-to-cart:hover {
  background-color: #fff;
  color: #f03637;
}

.add-to-cart:active {
  background-color: #dc0506;
  border-color: #dc0506;
}

footer {
  margin-top: 20px;
}
.footer-top {
  display: grid;
  justify-content: center;
  width: 80%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  margin: 20px auto;
}

.footer-bottom {
  padding: 10px auto;
  border: 1px solid #9e9e9e;
}

.footer-bottom p {
  padding: 15px;
}

.footerHeader {
  font-size: 16px;
  font-weight: bold;
}

.info,
.help,
.links,
.useful {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info a,
.help a,
.links a,
.useful a {
  color: #dc0506;
  text-decoration: none;
  font-size: 14px;
}

.contact h1 {
  font-size: 24px;
  color: #dc0506;
  margin: 10px 0;
}

.contact p {
  font-size: 14px;
  margin: 20px 0;
}
.contact p > span {
  font-weight: bold;
}

.contact {
  grid-area: 1 / 1 / 4 / 3;
}
.info {
  grid-area: 1 / 3 / 5 / 4;
}
.help {
  grid-area: 1 / 4 / 5 / 5;
}
.links {
  grid-area: 1 / 5 / 5 / 6;
}
.useful {
  grid-area: 1 / 6 / 5 / 7;
}
