@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", Courier, monospace;
  box-sizing: border-box;
}
.containerEight {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}
svg {
  width: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.icon-cart {
  position: relative;
  /* margin-left: %; */
  margin-bottom: 13vh;
  cursor: pointer;
}
.icon-cart span {
  position: absolute;
  background-color: red;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  top: 50%;
  right: -20px;
}
.title {
  font-size: xx-large;
}
.listProduct .item img {
  width: 90%;
  filter: drop-shadow(0 50px 20px #0009);
  transition: 0.3s ease-in;
}
.listProduct .item img:hover {
  transform: scale(120%);
}
.href {
  text-decoration: none;
  color: #353432;
}
.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  cursor: pointer;
}
.listProduct .item {
  background-color: #ebebeb;
  padding: 20px;
  transition: 0.4s;
}
.listProduct .item:hover {
  transform: perspective(400px) rotateX(5deg) scale3d(1, 1, 1);
}
.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
}
.listProduct .item .price {
  letter-spacing: 7px;
  font-size: small;
}
.listProduct .item button {
  background-color: #f03637;
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  transition: 0.5s;
}
.listProduct .item button:hover {
  transform: scale(110%);
  cursor: pointer;
}
/* cart */
.cartTab {
  width: 500px;
  background-color: #eee;
  color: #353432;
  position: fixed;
  top: 0;
  right: -500px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}
.showCart .cartTab {
  right: 0;
}
.showCart .container {
  transform: translateX(-4000px);
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button {
  background-color: #e8bc0e;
  border: none;
  font-family: "Montserrat", Courier, monospace;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .close {
  background-color: #353432;
  color: #eee;
}
.listCart .item img {
  width: 100%;
}
.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #353432;
  cursor: auto;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}
/* created by swapnilPatel 8911046 */
